<div class="wrapper_user">

<h3 class="user_name"><%=@customer.name%></h3>
<h5 class="user_name">Address: <%=@customer.address%></h5>
<br>
<h5 class="user_name">Phone: <%=@customer.phone%></h5>
<br>
<h5 class="user_name">Date Added: <%=@customer.date_created%></h5>
<br>
<h5 class="user_name">Notes: <%=@customer.note%></h5>
<br>

<br>
<a href="/customers"><button class="sign_up">Return to Profile</button></a>
<a href="/customers/<%=@customer.id%>/edit"><button class="sign_up">Edit Customer</button></a>
<br><br>
<form method="POST" action="/customers/<%=@customer.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" class="sign_up">Delete Customer</button>
</form>

<br><br><br>

</div>